<launch>
  <arg name="gui" default="true"/>
  <arg name="state_rate" default="10"/>
  <param name="rate" value="$(arg state_rate)"/>
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find crane_x7_description)/urdf/crane_x7.urdf.xacro'"
    />
  <rosparam param="source_list">["joint_states_source"]</rosparam>
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg gui)"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find crane_x7_description)/config/urdf.rviz"/>
</launch>

