<?xml version="1.0" ?>
<robot name="terrain">
  <link name="terrainLink">
  <contact>
      <!-- In PyBullet, the friction coefficients are computed by the multiplication of two lateral_friction values. -->
      <!-- Therefore, by setting lateral_friction=1.0 in the terrain, the friction value of the robot is directly used. -->
      <lateral_friction value="1.0"/> 
  </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value=".0"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
		<mesh filename="terrain.obj" scale="0.25 0.25 0.5"/>
      </geometry>
       <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
		<collision concave="yes">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
		<mesh filename="terrain.obj" scale="0.25 0.25 0.5"/>
      </geometry>
    </collision>
  </link>
</robot>